<!DOCTYPE html>
<% include('../util/_util'); %>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5shiv.js"></script>
<![endif]-->
<link rel="stylesheet" href="<%= pathSet(absPath) %>css/style.css">
</head>
